.stream-wrapper {
  min-height: 100vh;
  padding: 30px 0;
  background: linear-gradient(0deg,rgba(101,200,208,.63) -.02%,rgba(188,237,255,.63) 85.93%),#fff;
}

.local-video-wrapper {
  width: 200px;
  border-radius: 10px;
  background-color: black;
}

.local-video {
  width: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

