@import './pxrem.scss';

@font-face{
  font-family: 'Futura New 600';
  src: url('./fonts/FuturaNewDemi-Reg.ttf') format('truetype');
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Futura New 400', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input {
  outline: none;
  border: none;
  resize: none;
  -webkit-tap-highlight-color: transparent;

}

h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  margin: 0;
  color: #000000;
  font-size: 54px;
  white-space: pre-wrap;
}

button {
  padding: rem(15) rem(60);
  line-height: 153%;
  background: linear-gradient(0deg, #09B0F0, #09B0F0), linear-gradient(90deg, #09B0F0 -0.08%, #085282 99.87%), #FFFFFF;
  box-shadow: 0 rem(11) rem(17) rgba(0, 190, 255, 0.34);
  border-radius: rem(48);
  outline: none;
  border: none;
  font-size: rem(18);
  color: #ffffff;
  font-family: 'Futura New 600', sans-serif;
  cursor: pointer;
  transition: .3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    box-shadow: rem(5) rem(14) rem(20) rgba(0, 191, 255, 0.523);
    transform: scale(1.02);
  }
  &:active {
    box-shadow: none;
    transform: scale(0.90);
    outline: none;
  }
  &:focus {
    outline: none;
  }
}
