@import '../web/src/pxrem.scss';
.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(0deg,rgba(101,200,208,.63) -.02%,rgba(188,237,255,.63) 85.93%),#fff;
        min-height: 100vh;
        font-size: 18px;
    }
@media (max-width: 1440px) {
    .container {

    }
}
    .caption {
        padding: 15px;
        font-size: 28px;
    };
    .buttonsContainer {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    };
    .room-input {
        width: 200px;
        height: rem(58);
        padding: rem(19) rem(28);
        appearance: none;
        font-size: rem(16);
        line-height: rem(20);
        font-family: 'Futura New 600', sans-serif;
        border-radius: rem(101);
        box-sizing: border-box;
        opacity: 0.8;
        margin-right: rem(20);
        &:focus, &:active {
            border: rem(3) solid #09B0F0;
            opacity: 1;
        }
        &:hover {
            opacity: 1;
        }
        &::placeholder {
            color: #7CB7CB;
            font-family: 'Futura New 300', serif;
        }
    };
    .btn {
        background-color: black;
        padding: 17px;
        color: white;
    }

